 body {
     background: #141414;
     color: #fff;
     text-decoration: none;
     list-style-type: none;
 }
 
 .movie-app>.row {
     overflow-x: auto;
     flex-wrap: nowrap;
 }
 
 .movie-img {
     width: 300px;
 }
 
 .movie-img .movie-info {
     display: ;
 }
 
 .movie-img img {
     width: 200px;
     height: 200px;
 }