 body {
     background: #141414;
     color: #fff;
     text-decoration: none;
     list-style-type: none;
 }
 
 .movie-app>.row {
     overflow-x: auto;
     flex-wrap: nowrap;
     -ms-overflow-style: none;
     scrollbar-width: none;
     width: 100%;
 }
 
 .movie-app>.row::-webkit-scrollbar {
     display: none;
 }
 
 .movie-img {
     padding: 1rem;
     width: 500px;
     height: 500px;
     -ms-overflow-style: none;
     scrollbar-width: none;
 }
 
 .movie-img::-webkit-scrollbar {
     display: none;
 }
 
 .movie-img:hover {
     cursor: pointer;
     transform: scale(1.1);
 }
 
 .movie-img img {
     width: 100px;
 }
 
 .movie-img .movie-info {
     flex: 1;
     padding: 1.5rem;
 }
 
 .movie-info .movie-over {
     padding: 1rem;
     background: rgba(255, 255, 255, 0.2);
     box-shadow: 04px 30px rgba(0, 0, 0, 0.1);
     margin-right: .5rem;
     backdrop-filter: blur(5px);
     border-radius: 12px;
     border-top: 1px solid #fff;
     border-left: 1px solid #fff;
     width: 300px;
 }
 
 .movie-info h3 {
     font-size: 25px;
     top: 0;
 }
 
 .movie-info .movie-over h6 {
     text-transform: uppercase;
     font-size: 20px;
 }
 
 .movie-img:hover .overlay {
     opacity: 1;
 }
 
 .overlay {
     position: absolute;
     background: rgba(0, 0, 0, 0.8);
     width: 100%;
     transition: 0.5s ease;
     opacity: 0;
     bottom: 0;
     font-size: 20px;
     padding: 20px;
     text-align: center;
 }