 body {
     background: #141414;
     color: #fff;
 }
 
 .movie-app>.row {
     overflow-x: auto;
     flex-wrap: nowrap;
 }
 
 .movie-img {
     width: auto;
 }
 
 .movie-img img {
     width: 150px;
     height: auto;
 }